<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #F8510D;">
  <a class="navbar-brand" href="#">Interview Helper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a class="nav-link" href="#" appActive [activeBgColor]="activeBgColor" [activeColor]="activeColor">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Questions', 'tech']" appActive [activeBgColor]="activeBgColor" [activeColor]="activeColor" >Tech</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Questions', 'nontech']" appActive [activeBgColor]="activeBgColor" [activeColor]="activeColor">Non-Tech</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/mock']" [queryParams]="{id:1}" appActive [activeBgColor]="activeBgColor" [activeColor]="activeColor">Mock</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>