<!-- Button trigger modal -->
<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#exampleModalCenter" (click)="loadCategories()" style="margin-bottom: 2px;border: 1px solid #FFAFD6;outline: 0px;">+ Add New Question</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="application" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F08; color: white;">
                <h6 class="modal-title" id="exampleModalCenterTitle">New Question</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="questionId" class="col-sm-3 col-form-label">Question title</label>
                    <div class="col-sm-9">
                        <input type="text" required [(ngModel)]="question.questionTitle" class="form-control form-control-sm" id="questionId" placeholder="Question title" style="border: 1px solid #FFAFD6">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="categoryIdSelect" class="col-sm-3 col-form-label">Category</label>
                    <div class="col-sm-9">
                        <select class="form-control form-control-sm" required [(ngModel)]="question.cid" id="categoryIdSelect" style="border: 1px solid #FFAFD6">
                            <option>Choose...</option>
                            <option *ngFor="let category of categories" [value]="category.cid">{{category.categoryName}}</option>
                          </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="questionDesc" class="col-sm-3 col-form-label">Question description</label>
                    <div class="col-sm-9">
                        <textarea required [(ngModel)]="question.questionDesc" class="form-control form-control-sm" rows="5" id="questionDesc" style="border: 1px solid #FFAFD6" placeholder="Question description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm" style="border: 1px solid rgba(114, 113, 113, 0.322)" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-light btn-sm" (click)="addNewQuestion()" style="border: 1px solid #FFAFD6" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>